<!-- <ul *ngFor="let jugador of jugadores">
    <li>
        <h4>{{ jugador.nombre }} | {{ jugador.equipo }}</h4>
    </li>
</ul> -->

<div class="text-center">
    <ul *ngFor="let jugador of jugadores" [ngSwitch]="jugador.equipo">
        <li *ngSwitchCase="'L.A. Lakers'" class="lakers">
            <h3>{{jugador.nombre}}</h3>
            <h3 class="equipo"> {{jugador.equipo}} </h3>
        </li>
        <li *ngSwitchCase="'Boston Celtics'" class="celtics">
            <h3>{{jugador.nombre}}</h3>
            <h3 class="equipo"> {{jugador.equipo}} </h3>
        </li>
        <li *ngSwitchCase="'Chicago Bulls'" class="bulls">
            <h3>{{jugador.nombre}}</h3>
            <h3 class="equipo"> {{jugador.equipo}} </h3>
        </li>
    </ul>
</div>