<div class="container" >
  <h3>Ejemplo de uso de @Input</h3>
  <hr>
  <app-padre></app-padre>
</div>
<div class="container" >
  <h3>Ejemplo de directiva ngFor con objetos</h3>
  <hr>
  <app-ejmidirectiva></app-ejmidirectiva>
</div>
<div class="container" >
  <h3>Ejemplo de directiva ngSwitch</h3>
  <hr>
  <app-ejdirectivangswitch></app-ejdirectivangswitch>
</div>
<div class="container" >
  <h3>Ejemplo de directiva ngFor con objetos</h3>
  <hr>
  <app-arrayobjetos></app-arrayobjetos>
</div>
<div class="container" >
  <h3>Ejemplo de directiva ngFor</h3>
  <hr>
  <app-ejdirectivangfor></app-ejdirectivangfor>
</div>
<div class="container" >
  <h3>Ejemplo de directiva ngClass</h3>
  <hr>
  <app-ejdirectivangclass></app-ejdirectivangclass>
</div>
<div class="container" >
  <h3>Ejemplo de directiva ngStyle</h3>
  <hr>
  <app-ejdirectivangstyle></app-ejdirectivangstyle>
  <hr>
</div>
<div class="container" >
  <h3>Ejemplo de directiva ngIf</h3>
  <hr>
  <app-ejdirectivangif></app-ejdirectivangif>
  <hr>
</div>
<div class="container" >
  <h3>Ejemplo de Two Way Binding</h3>
  <hr>
  <app-ej2waybinding></app-ej2waybinding>
  <hr>
</div>
<div class="container" >
  <h3>Ejemplo de Event Binding</h3>
  <hr>
  <app-ejeventbinding></app-ejeventbinding>
  <hr>
</div>
<div class="container" >
  <h3>Ejemplo de Property Binding</h3>
  <hr>
  <app-ejpropertybinding></app-ejpropertybinding>
</div>
<div class="encabezado" >
  <h1>¡Hola {{ destino }}!</h1>
  <app-fechaactual></app-fechaactual>
</div>
<div class="container" >
  <h3>Ejemplo de Interpolación con Objeto</h3>
  <hr>
  <app-viewmodelo></app-viewmodelo>
</div>
<div class="container" >
  <h3>Ejemplo de Interpolación con Método</h3>
  <hr>
  <app-ejmetodo></app-ejmetodo>
</div>

